@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}
:root
{
    --main-font: "Roboto", sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}
a
{
    color: inherit;
}

.content
{
    display: flex;
    height: 100vh;
}
.banner
{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.form-section
{
    width: 70%;
}
.background
{
    position: absolute;
    width: 30%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.logo
{
    box-sizing: border-box;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.534);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}
.logo-img
{
    height:90%;
}
.logo-text
{
    color: white;
    font-family: norse-bold,'Times New Roman', Times, serif;
    font-size: 6vw;
}
.credit
{
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2%;
}
.form-section
{
    background-color: rgb(249, 250, 251);
}
.disclaimer
{
    padding: 5% 0 4% 6%;
    font-weight: 500;
    font-size: 30px;
    max-width: 50ch;
}
.signup-form
{
    background-color: white;
    box-shadow: 0 4px 10px rgb(199, 199, 199);
    padding: 2% 20% 4% 6%;
}
.form-header
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.form-inputs
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 4vw;
    row-gap: 2vw;
}
label
{
    display: block;
    font-size: 15px;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: rgb(59, 59, 59);
    margin-bottom: 4px;
}
input
{
    font-size: 20px;
    padding: 0.5rem;
    width: 18vw;
    border: 1px solid rgb(233, 235, 238);
    border-radius: 6px;
    background-color: rgb(255, 254, 254);
}
input:focus
{
    box-shadow: 0 4px 10px rgb(199, 199, 199);
}
input:invalid
{
    border: 1px solid red;
}
.signup-btn
{
    background-color: #596D48;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(199, 199, 199);
    width: 20rem;
    height: 4rem;
    margin: 3% 6%;
}
.have-account
{
    margin-left: 6%;
    font-size: 18px;
    a
    {
        text-decoration: none;
        color: #596D48;
        font-weight: 600;
    }
}
